[Desktop Entry]
Name=Conky
GenericName=ConkyStartup
Comment=Start conky on boot
Exec=~/conky-startup.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
