[Desktop Entry]
Name=Conky
GenericName=ConkyStartup
Comment=Start conky on boot
Exec=conky --pause 60
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
