[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/*;video/*;
Actions=MediaInfo

[Desktop Action MediaInfo]
Name=MediaInfo
Icon=mediainfo
Exec=konsole -e ~/.othercrap/mediainfo.sh %f
